node_modules
bower_components
__pycache__
*.pyc
bin
obj
*.db
*.sqlite3
.vscode
dist
.DS_Store
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
*.log
local_settings.py
.python-version
.env
media/
*.pid
migrations
AlendamondEnv
BangazonEnv